* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 20px;
    margin: 0 0;
    text-align: justify;
    background-color: #0B0E14;
    color: #8B949E;
}
main {
    width: 80%;
    margin: 0 auto;
    padding-top: 75px;
}
.main_header {
    width: 100%;
    position: fixed;
    background-color: #0B0E14;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.header {
    width: 90%;
    height: 75px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo_text {
    margin-left: 5px;
}
.header_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}
.button_header {
    margin: 0 2%;
}
li {
    list-style-type: none;
}
a {
    color: #8B949E;
    text-decoration: none;
}
a:hover {
    color: #383b3e;
}
.marker_li {
    list-style-type: disc;
}
.article_text {
    margin: 20px 0;
}
h1 {
    text-align: center;
}